<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/intro_animation.css') }}">
</head>
<body>
    <div id="animationContainer">
        <img src="{{ url_for('static',filename='content/img/animation_logo.png') }}">
    </div>
</body>
<script src="{{ url_for('static',filename='js/animation.js') }}"></script>
</html>