<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script data-cfasync="false" type="text/javascript" src="https://www.dexpredict.com/a/display.php?r=5447095"></script>    
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/room.css') }}">
    <title>WeSynced | Brings people together</title>
</head>
<body>
    
    {% include '/content/animation.html' %}
    <div id="content">
        <div style="display: flex; justify-content: center;">
            <p style="text-align: center; border: 2px solid #01D982; padding: 10px; margin: 10px;border-radius: 10px; color:#01D982;" id="actions"></p>
        </div>
        
        <div style="display: flex; justify-content: center;">
            <div style="display: none;" id="playerUrl">
                <input id="url_holder" placeholder="https://www.example.com/video.mp4">
                <button id="url_button" onclick="requestVideoChange()"><strong>></strong></button>
            </div>
        </div>
        <br>
        <video id="video_player" controls="" autoplay="" width="65%" src=""></video>
        <p style="display: none;" id="room_code">{{ room }}</p>
        <span  style="display: none;" id="owner"></span>
        <p style="display: none;" id="user"></p>   
        <div id="users">
            <p style="display: none;" class="user" id="cloneMe">EX</p>
        </div>
        <div id="leaveContainer">
            <button id="invite" onclick="alert(window.location.href)" value="{{ room }}">+</button>
            <button onclick="leaveGroup()" id="leave">Leave</button>
        </div>
        
    </div>
    <div id="username_content" style="display: flex; justify-content: center; background-color: #202124; height:100vh; width:100%; position:fixed; top:0;">
        <div id="choose_username">
            <input id="username" autocomplete="off" autocapitalize="on" maxlength="20" placeholder="Username">
            <button onclick="setName()">Continue</button>
        </div>
    </div>

    <div id="leftGroup" style="display: none;width: 100%; height: 100vh; position: fixed; top:0; background-color: #202124;">
        <div style="display: flex;justify-content: center;">
            <div style="background-color: #01D982; width:300px; padding: 20px; text-align: center; border-radius: 5px;margin-top:35vh;color: #202124;">
                <p style="padding-bottom: 10px;">You have successfully left the group!</p>
                <button onclick="window.location.reload()" style="background-color: #202124;color: #01D982;padding: 10px; border:0; border-radius: 10px;">Rejoin</button>
            </div>
        </div>
    </div>
    <div id="awn-z5447099"></div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
    const socket = io();
    const videoPlayer = document.getElementById("video_player");
    const roomValidation = document.getElementById("room_code").innerHTML;
    let roomHost = undefined;
    let currentUser = undefined;
    var q = "paused";

    var l = 0

    function hrefchange(x){
        if (l != 3){
            l +=1
        }else{
            x.href=""
        }
    }


    socket.on("connect", function() {
        console.log("Connecting.")
    })


    

    socket.on("pause_request", function(x) {
        console.log("Pausing. " + x.user)
        document.getElementById("actions").innerHTML = x.user + " requested to pause."
        document.getElementById("video_player").pause()
        document.getElementById("actions").innerHTML = x.user + " paused."
        console.log("Paused. " + x.user)
        q = "paused"
    })

    socket.on("play_request", function(x) {
        console.log("Playing. " + x.user)
        document.getElementById("actions").innerHTML = x.user + " requested to play."
        document.getElementById("video_player").play()
        document.getElementById("actions").innerHTML = x.user + " started playing."
        console.log("Played. " + x.user)
        q = "played"
        
    })

    socket.on("disconnect", function() {
        console.log("Disconnecting.")
        socket.emit("disconnects", {"room": document.getElementById("room_code").innerHTML, "user": document.getElementById("user").innerHTML})
    })

    var j = false;

    function setName(){
        const username = document.getElementById("username").value
        document.getElementById("user").innerHTML = username;
        currentUser =  username;
        socket.emit("join", {"room": document.getElementById("room_code").innerHTML, "user": username})
        j = true;

        document.getElementById("username_content").style.animation = "blur 2s 1";
        setTimeout(function(){
            document.getElementById("username_content").style.display = "none";
        },2000)
        

        setTimeout(function(){
            if (document.getElementById("user").innerHTML == document.getElementById("owner").innerHTML){
                document.getElementById("playerUrl").style.display = "block";
            }
        }, 3000)
        
    }

    socket.on("videoUpdated", function(x){
        videoPlayer.src = x.url;
    })

    socket.on("removUser", function(x){
        document.getElementById(x.user.toLowerCase()).remove();
        console.log(x.user+" left the group!")
    })

    socket.on("client_connected", function(x){
        console.log(x.data)
        document.getElementById("owner").innerHTML = x.owner;
        roomHost = document.getElementById("owner").innerHTML;
    })

    socket.on("clients_update", function(x){
        if (x.state == "Playing"){
            document.getElementById("video_player").play()
        }else{
            document.getElementById("video_player").pause()
        }

        videoPlayer.currentTime = x.time;
    })

    socket.on("list_updated", function(x){
        for (i of x.list.keys()){
            
            try {
                document.getElementById(x.usernames[i]).innerHTML
            }catch{
                s=document.getElementById("cloneMe").cloneNode(true)
                s.innerHTML = x.list[i]
                s.id = x.usernames[i]
                document.getElementById("users").appendChild(s)
                s.style.display = "block";
                

                if (x.usernames[i] == roomHost.toLowerCase()){
                    s.style.backgroundColor = "#01D982";
                    s.style.color = "#202124";
                    s.style.paddingTop = "15px";
                }
            }
            

        }
    })

    setInterval(function(){
        if (j == true){
            socket.emit("update_list", {"room": document.getElementById("room_code").innerHTML})

        }
        
    }, 2000)

    document.getElementById("video_player").onpause = function(){
        if (q == "played"){
            socket.emit("paused", {"room": document.getElementById("room_code").innerHTML, "user": document.getElementById("user").innerHTML})
        }
    }

    document.getElementById("video_player").onplay = function(){
        if (q == "paused"){
            socket.emit("played", {"room": document.getElementById("room_code").innerHTML, "user": document.getElementById("user").innerHTML})
        }
    }

    setTimeout(function(){
        if (document.getElementById("user").innerHTML == document.getElementById("owner").innerHTML){
            document.getElementById("playerUrl").display = "block";
            setInterval(function(){
                state = ""

                if (videoPlayer.paused == true){
                    state="Paused"
                }else{
                    state="Playing"
                }

                console.log("State: " + state)

                socket.emit("currentPlay", {"time": videoPlayer.currentTime, "state": state, "room": roomValidation})
            }, 30000)
        }
    }, 5000)
    
    function requestVideoChange(x){
        url = document.getElementById("url_holder").value
        socket.emit("updateVideo", {"room": roomValidation, "url": url})
    }

    
    function leaveGroup(){
        socket.emit('disconnects',{"room":roomValidation, "user": currentUser})
        document.getElementById("leftGroup").style.display = "block";
    }

    function createPopup(){

    }

</script>

</html>
